<ion-view cache-view="false">
    <ion-nav-title>
        票款见证系统
    </ion-nav-title>
    <ion-content>
        <div class="headh0">
            <!--<img src="images/hs1"/>-->
            <div class="head_pandingh1">
                <!--<div>汇票线联手兴业银行集团<br />为你的票据和钱款加一道锁</div>-->
            </div>
        </div>
        <div class="contenth2">
            <div class="content_pandingh3">
                <div>
                    汇票线平台与兴业银行集团子公司兴业数字金融服务（上海）股份有限公司达成战略合作伙伴关系，双方进行了深度合作。平台通过兴业数金研发的兴业执剑人见证代管系统监管票款流转，采取“先打款、后背书”的方式，由兴业银行集团代管，保障资金安全，打造票据行业的“电票支付宝”模式，制度性地解决了电票交易对手的信用风险及票款流转不同步的安全问题。
                    <!--兴业数金：在兴业银行开立“票据流转资金专户”，实现票据款项安全代管，保障资金安全；<br />依托银行电票系统，完成电票流转的见证，保障交易真实安全。

                    兴业银行：对票据交易款进行账户划转、提现，保障资金安全划转。<br />

                    汇票线：负责票据交易双方信息撮合，实现高效的交易流程服务。<br />-->
                </div>
            </div>
        </div>
        <div class="footerh4">
            <div class="footer_pandingh5">
                <div class="zjrh6" style="font-weight: bold;">兴业“执剑人”票据见证代管系统</div>
                <div>
                    <div class="hpxgu">
                        <span>兴业数金</span>：在兴业银行开立“票据流转资金专户”，实现票据款项安全代管，保障资金安全；依托银行电票系统，完成电票流转的见证，保障交易真实安全。
                    </div>

                    <div class="hpxgu">
                        <span>兴业银行</span>：对票据交易款进行账户划转、提现，保障资金安全划转。
                    </div>

                    <div class="hpxgu">
                        <span>汇票线</span> ：负责票据交易双方信息撮合，实现高效的交易流程服务。
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>