<ion-view cache-view="false">
    <ion-nav-title>
        上线
    </ion-nav-title>
    <ion-content>
        <div class="header00">
            <div class="header_panding1">汇票线移动端APP如约上线！<br /></div>
            <div class="header1_panding2">
                千呼万唤始出来！<br />
                精心筹备，只为让你拥有更好的使用感与体验感！<br />
            </div>
            <div class="header2_panding3">
                这是目前票据行业里，首个能在手机端进行在线交易的APP<br />
                让票据交易触手可及，在你的零碎时间里，都能做成一笔交易<br />
                你会发现，一杯茶的功夫，票已出手，钱已到账!<br />
            </div>
        </div>
    </ion-content>
</ion-view>