<ion-view cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-share" menu-toggle="right" ng-click="share()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        5月30日--商票
    </ion-nav-title>
    <ion-content>
        <body class="bg">
            <div class="page17-1">
                <div class="part" style="margin-top:35px;margin-bottom:32px;">
                    <a href="#" class="hpxEdit hpxTiao" ng-click="edit()">调整报价</a>
                    <a href="#" class="hpxQu hpxTiao" ng-click="remove()">取消报价</a>
                </div>
                <div class="part3">
                    <div class="g-line-title2"><i></i>价格信息</div>
                    <div class="con">
                        <ul>
                            <li style="display:inline-block;width:25%">期限：</li>
                            <li style="display:inline-block;width:25%" ng-bind="model.deadline_type"></li>
                            <li style="display:inline-block;width:25%">交易方式：</li>
                            <li style="display:inline-block;width:25%" ng-bind="model.trade_type_name"></li>
                        </ul>
                        <table class="g-table">
                            <tr>
                                <td>承兑机构</td>
                                <td ng-show="model.bill_style_id != 205">国股</td>
                                <td ng-show="model.bill_style_id != 205">城商</td>
                                <td ng-show="model.bill_style_id != 205">三农</td>
                                <td ng-show="model.bill_style_id != 205">村镇</td>
                                <td ng-show="model.bill_style_id != 205">外资</td>
                                <td ng-show="model.bill_style_id != 205">财务</td>
                                <td ng-show="model.bill_style_id == 205">电票</td>
                                <td ng-show="model.bill_style_id == 205">纸票</td>
                                <td ng-show="model.bill_style_id == 205">&nbsp;&nbsp;</td>
                                <td ng-show="model.bill_style_id == 205">&nbsp;&nbsp;</td>
                                <td ng-show="model.bill_style_id == 205">&nbsp;&nbsp;</td>
                                <td ng-show="model.bill_style_id == 205">&nbsp;&nbsp;</td>
                            </tr>
                            <tr>
                                <td>月利率</td>
                                <td>{{model.offer_detail.offer_rate01 == null ? "--" : model.offer_detail.offer_rate01}}</td>
                                <td>{{model.offer_detail.offer_rate02 == null ? "--" : model.offer_detail.offer_rate02}}</td>
                                <td ng-show="model.bill_style_id != 205">{{model.offer_detail.offer_rate03 == null ? "--" : model.offer_detail.offer_rate03}}</td>
                                <td ng-show="model.bill_style_id != 205">{{model.offer_detail.offer_rate04 == null ? "--" : model.offer_detail.offer_rate04}}</td>
                                <td ng-show="model.bill_style_id != 205">{{model.offer_detail.offer_rate05 == null ? "--" : model.offer_detail.offer_rate05}}</td>
                                <td ng-show="model.bill_style_id != 205">{{model.offer_detail.offer_rate06 == null ? "--" : model.offer_detail.offer_rate06}}</td>
                                <td ng-show="model.bill_style_id == 205">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td ng-show="model.bill_style_id == 205">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td ng-show="model.bill_style_id == 205">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td ng-show="model.bill_style_id == 205">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                        </table>
                        <ul>
                            <li><span>备注：</span>{{model.description}}<!--<input type="text" placeholder="联系我们时，请先告知在汇票线上看到的信息。" />--></li><!--备注-->
                        </ul>
                    </div>
                </div>
                <!--<div class="part4">
                <div class="g-line-title2"><i></i>价格信息</div>
                <ul>
                    <li><span>交易方式：</span>{{model.trade_type_name}}</li>
                    <li><span>备注：</span>{{model.description}}</li>
                </ul>
            </div>-->
                <div class="part5">
                    <div class="g-line-title2"><i></i>业务信息</div>
                    <ul>
                        <li class=""><img src="images/icon171.png" alt="" class="icon">{{model.contact_name}}123</li>
                        <li class=""><img src="images/icon172.png" alt="" class="icon">{{model.contact_phone}}123</li>
                        <li class=""><img src="images/icon173.png" alt="" class="icon">{{model.enterprise_location}}123</li>
                    </ul>
                    <a href="tel:{{model.contact_phone}}" class="btn-call">联系他</a>
                </div>

                <div class="part5">
                    <div class="g-line-title2"><i></i>评论</div>
                    <ul>
                        <li class="" style="display:inline-block;width:50%">用户账号：{{model.contact_phone}}</li>
                        <li class="" style="display:inline-block;width:50%">综合评分：{{model.contact_phone}}</li>
                        <li class="" style="display:inline-block;width:50%">贴现速度：{{model.enterprise_location}}</li>
                    </ul>
                </div>
            </div>


            <!-- 拨打电话弹框 -->
            <div class="g-alert-call">
                <div class="box">
                    <h3>{{model.contact_phone}}</h3>
                    <div class="operate">
                        <a href="" class="btn-cancle">取消</a>
                        <a href="tel:{{model.contact_phone}}" class="btn-sure">拨打</a>
                    </div>
                </div>
            </div>
            <!-- 分享弹框 -->
            
        </body>
    </ion-content>
</ion-view>