<ion-view cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-share" menu-toggle="right" ng-click="share()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        汇票线
    </ion-nav-title>
    <ion-content>
        <div style="{{style1}}">
            <div class="act_bind1" style="{{style}}" ng-show="activityId == 1">
                
            </div>
            <div class="act_bind2" style="{{style}}" ng-show="activityId == 2">
                
            </div>
        </div>
    </ion-content>
</ion-view>