.app-top-bar {
    background-color: #f55a14 !important;
}

.slider-pager .slider-pager-page {
    color: white;
}

.slider-pager {
    bottom: 11%;
}
.uploadimg {
	width:3rem;
	height:2.1rem;
	background: center .65rem no-repeat #e5e5e5;
	background-size:.75rem .58rem;
	text-align:center;
	margin:.2rem auto;
	color:#6e6e6e;
	position:relative;
}
.page-search .part1 .con1 a.on {
    color:#f55a14;
}
.select-box .select-left li.on {
    color:#f55a14;
	background-color:#fff;
	box-shadow:-.1rem 0 .1rem 0 #ddd;
}
.select-box .select-right li.on {
    color:#f55a14;
	background-color:#fff;
	box-shadow:-.1rem 0 .1rem 0 #ddd
}
.page-search .operate {
	padding:.8rem 0
}
.page-search .operate input[type=submit] {
	width:2rem;
	margin:0 auto;
	border-radius:2px;
	display:block;
	font-size:.3rem
}

.imgMagnify{
    background-color:#000;
}
.imgMagnify img.rotate{
    transform:rotate(-90deg);
}
.imgMagnify img {
    margin:0.9rem auto;
}
.part41-1 input[type=number] {
    display:inline-block;
	width:1.7rem;
	border:none;
    text-align:center;
}
part41-1 input[type=date] {
    display:inline-block;
	width:2.7rem;
    text-align:center;
}
.part41-1 input[type=number].i1 {
	width:2.6rem
}
.part41-1 input[type=number].i2 {
	width:3.0rem
}
.part41-1 input[type=number].i3 {
	width:1.8rem
}
.part41-1 .date {
	background:url(images/date.png) right center no-repeat;
    position:absolute;
    left:0.3rem;
    top:0.1rem;
    display:inline-block;
	background-size:.41rem .4rem;
	padding-right:.45rem;
	width:3.4rem!important;
    background-color:transparent;
    z-index:2;
    text-align:center;
}
.part41-1 p.p_date {
	/*background:url(images/date.png) right center no-repeat;*/
    position:absolute;
    left:0.4rem;
    top:0.06rem;
    display:inline-block;
	background-size:.41rem .4rem;
    height:.7rem;
	padding-right:.45rem;
	width:3.4rem!important;
    background-color:#fff;
    z-index:1;
    font-size:14px;
    color:#aaa;
    text-align:center;
}
.part41-2 .li2-select i {
    width:.8rem;
    height:.6rem;
    overflow:hidden;
}
.page50 .result .item .center{
    margin:0 auto;
    text-align:center;
    float:right;
}
.page50 .result .item .btn1 {
	text-shadow:0 0 .05rem #333;
	border-radius:.05rem;
    font-size:.2rem;
	padding:0.1rem .3rem;
}
.page50 .result .item .on {
	background-color:#f55a14;
	border-color:#f55a14;
	color:#fff
}
.page50 .result .item .p {
    float:left;
}
.page50 .result .item .pre {
    display:inline-block;
    font-size:.29rem;
    color:#666;
    word-break:break-word;
    width:4.6rem;
}


.calculator .main{
    width:100%;
    /*height:14rem;*/
}

.calculator .result{
    display: block;
    width: 100%;
    height: 28%;
    background:#202020;
    box-sizing: border-box;
    border:none;
    padding: 0;
    margin: 0;
    resize: none;
    color: #fff;
    font-size: 80px;
    text-align: right;
    line-height: 270px;
    overflow: hidden;
    background-clip: border-box;

}
.calculator .row{
    height: 15%;
    background: #d7d8da;
    box-sizing: border-box;
    border: 1px solid #202020;
    overflow: hidden;
    padding: 0 0 4px 0;
}

.calculator .col{
    height: 100%;
    box-sizing: border-box;
    border-right:1px solid #202020;
    float: left;
    color: #202020;
    font-size: 28px;
    text-align: center;
    line-height: 83px;
}
.calculator .normal{
    width: 25%;
}
.calculator .end-no{
    width: 25%;
    border-right: none;
    background: #f78e11;
    color: #fff;

}
.calculator .zero{
width: 50%;
}

.page12-1 .part2 select {
	display:inline-block;
	width:2.3rem;
	margin:0 0 0 .2rem;
}
.hpxPart .part2 select{
    width:33% !important;
}

.part41-1 select.s1 {
    position:absolute;
    left:0.05rem;
    top:0.1rem;
	width:1.45rem;
    text-align:center;
}
.page-modify-phone .on {
	background-color:#f55a14
}
.yzm .on {
	background-color:#f55a14
}
.part41-1 li.center {
	text-align:center!important
}
.part41-1 .billType, .part41-1 .interest, .part41-2 .interest{
    background-color:#fff;
}

.part41-1 li.left {
    position:relative;
}
.page45-2 li.right select{
    background-color:#fff;
}
.page45-2 li {
    width:25%;
}
.page45-2 li.right {
    width:75%;
}
/*.page50 input[type=text] {
    height: 0.85rem;
    border-top:none;
    border-bottom:none;
}*/
.page45 .result {
    border: none;
}
.page-forget-pwd input[type=password] {
    width: 4.7rem;
    display:inline-block;
}
.page-forget-pwd input[type=password].newPassword {
    width: 4.2rem;
}

.page-search .part1 input[type=date] {
	background:url(images/date.png) right center no-repeat;
    position:absolute;
    left:0.1rem;
    top:0.4rem;
    display:inline-block;
	background-size:.41rem .4rem;
	padding-right:.45rem;
	width:2.7rem!important;
    background-color:transparent;
    z-index:2;
    text-align:center;
}
.page-search .part1 p.p_date {
	/*background:url(images/date.png) right center no-repeat;*/
    position:absolute;
    left:0;
    top:0.5rem;
    display:inline-block;
	background-size:.41rem .4rem;
    height:.7rem;
	padding-right:.45rem;
	width:2.7rem!important;
    background-color:transparent;
    z-index:1;
    font-size:14px;
    color:#aaa;
    text-align:center;
}
/*.register .con {
    padding: .4rem 1.5rem 0;
}*/
/*.bd input[type=text]{
    font-size:0.2rem;
}
.bd input[type=text]{
    font-size:0.2rem;
}
.bd input[type=number]{
    font-size:0.2rem;
}
.bd input[type=date]{
    font-size:0.2rem;
}*/
.my-account .user-info h3 {
    color: #fff;
}
.page47-date span {
    border-radius: 100%;
}
.page73 .part1 li {
    height: 1rem;
}
.page73 .info3 .hd {
    height: 0.75rem;
}
.page73 .info3 {
    height: 0.5rem;
}
.page73 .info3-on {
    height: 7.5rem;
}
.page73 .info2 {
    height: 2rem;
}
.page73 .contact-details li.li58 {
    width: 57%;
    float: left;
}
.page73 .info {
    height: 2.5rem;
}
/*.yzm .btn-yzm {
    top: 0rem;
}*/
.page47-date td {
    height: 1.09rem;
}
.ion-scroll {
    height: 4.9rem;
}
/*.ion-scroll.r {
    height: 5.4723rem;
}*/
.btn-setting {
    position: absolute;
    z-index: 2;
    top: -0.1rem;
    right: 0rem;
    width: .9rem;
    height: .9rem;
    display: block;
    line-height: .5rem;
    background: url(images/setting.png) center center no-repeat;
    background-size: .4rem .4rem;
}
.btn-share {
    position: absolute;
    z-index: 2;
    top: -0.1rem;
    right: 0rem;
    width: .9rem;
    height: .9rem;
    display: block;
    line-height: .5rem;
	background:url(images/share.png) center center no-repeat;
    background-size: .59rem .59rem;
}
.part41-2 li i {
    font-size:16px;
    width:3rem;
    color: #666;
}

.page1 .hot span i {
	color:#f55a14
}
.page-search .part2 .title {
    background-color: #f2f2f2;
}
.page1 .hot .btn3 {
    height: .7rem;
    line-height: .7rem;
    background-color: #f45a14;
    color: #fff;
    margin-top: -.35rem;
    border-radius: .05rem;
    font-size: .28rem;
    /*text-shadow: 0 0 1rem #843d1e;*/
}
.page1 .hot .btn3 {
    width: 1.4rem;
    position: absolute;
    right: 17px;
    top: 67%;
    box-sizing: border-box;
    text-align: center;
}
.page1 .hot span.name {
    margin-right: .1rem;
}
.page1 .hot .addr {
	background:url(images/addr.png) left center no-repeat;
	background-size:.17rem .22rem;
	padding-left:.25rem;
    float:right;
}
/*.page1 .hot .addr:hover {
    color: #000;
}*/
 .header-select-botttom option {
	color:#333
}
 .page1 .hot .con2 {
    position: relative;
}
 .wrap .star {
	width:.2rem;
	height:.18rem;
	background:url(images/star.png) center center no-repeat;
	background-size:100% 100%;
	display:inline-block;
	margin-left:-.05rem
}
.wrap .star.on {
	background-image:url(images/star-on.png)
}
.alert-online-service .aBlock {
    width:100%;
    height:100%;
    display: block;
}
.part41-2 li.li1 {
    width: 25%;
}
.part41-2 li.li2 {
    width: 55%;
}
.part41-2 li.li3 {
    width: 20%;
}
.ad-top img {
    display: block;
    /*height: 3.4rem;*/
}

.titleAddr {
    background: url(images/addr3.png) 0 center no-repeat;
    background-size: .23rem .3rem;
    color: #fff;
    font-size: .24rem;
    padding-left: .35rem;
    line-height: .74rem;
}
.titleAddr:hover {
    color: #fff;
}
/*.addr:hover {
    color: #fff;
}*/
.dateTopTitle {
    font-size: 18px;
    margin: 0 auto;
    position: absolute;
    top: .1rem;
    line-height: 18px;
    left: 0;
    right: 0;
}
.header-select-botttom {
    width: auto;
    background-color: transparent;
    border: none;
    font-size: .2rem;
    color: #fff;
    line-height: .38rem;
    height: .38rem;
    margin: 0.5rem auto;
}
.dateTopTitle.titleCenter {
    top: .27rem;
}
.register input[type=password], .register input[type=text] {
    border-radius: 2px;
    font-size: .3rem;
    height: .77rem;
}
.tabBox4 {
    font-size: .26rem;
    height: 100%;
}
.page17-1 .part1 a {
    height: 1.2rem;
}
.page20-identification2 h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    /*font-weight: bold;*/
}
.page64 h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    /*font-weight: bold;*/
}
.page64 .part2 .upload {
    margin: .2rem auto;
}
.page73 .part1 span {
    width: 5.4em;
    text-align:left;
}
.page-modify-contact .tradCity {
    display: none;
}
.page66 .part2 li a.off {
	background-color:#c4c4c4;
}
.part41-2 select {
    width: 1.5rem;
}
.page1 .hot-title {
    padding: 0;
    margin: .15rem .1rem .15rem 0;
}
.page1 .hot-title.center{
    text-align:center;
}
.g-table {
    width: 100%;
}
.page17-2 .con2 {
    display: block;
}
/*.page17-2 .hot-title .addr:hover {
    color: #000;
}*/
/*.page17-2 .hot-title :hover {
    color: #000;
}*/
.page73 .info input[type=number] {
	border-radius:2px;
	width:1.1rem;
	margin:0 .05rem;
	font-size:.2rem;
	display:inline-block!important
}
.page73 .info2 input[type=number] {
	border-radius:2px;
	width:1rem;
	margin:0 .05rem;
	display:inline-block!important
}
.page73 .info3 input[type=number] {
	border-radius:2px;
	width:1rem;
	margin:0 .05rem;
	display:inline-block!important
}
.page20-identification2 .part1 input[type=text].i1 {
    background-color: #fff;
}
.page1 .hot table {
    width:78%;
}
input[type=number] {
    border: 1px solid #d6d6d6;
    height: .66rem;
    border-radius: .1rem;
    width: 100%;
}
.page73 .g-line-title input[type=number] {
    width: 1.1rem;
    display: inline-block!important;
    border-radius: 2px;
    height: .46rem;
}
input[type=number] {
    padding: 0 .1rem;
}
.alert-bind-info-140 {
    display: none;
    width: 7.5rem;
    height: 141%;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 999;
    margin-left: -3.75rem;
    background-color: rgba(0,0,0,.5);
}
.alert-bind-info-115 {
    display: none;
    width: 7.5rem;
    height: 115%;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 999;
    margin-left: -3.75rem;
    background-color: rgba(0,0,0,.5);
}
.page67 .part2 a {
    display: block;
    font-size: .26rem;
    margin: .2rem .4rem .2rem 0;
    /* padding: 0 .35rem; */
    text-align: center;
    border-radius: .05rem;
    border: 1px solid #d6d6d6;
    line-height: .66rem;
}
header {
    left: 0;
}
.tabs-stable > .tabs, .tabs.tabs-stable {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
}
.page20-identification2 .operate {
    padding: .5rem 0 .2rem;
}
.page20-identification2 .tip {
    padding:.2rem .5rem .5rem;
}
.wrap .g-btn-focus.follow {
    height: .6rem;
    border-radius: .05rem;
    border: 1px solid #f55a14;
    position: absolute;
    top:-5.6%;
    right:0;
    /*right: .35rem;
    top: .5rem;*/
    /*margin-top: .4rem;*/
    line-height: .6rem;
    text-align: center;
    font-size: .3rem;
    padding: 0 .3rem;
    /*margin-top:10px;*/
    z-index:10;
}
.wrap .g-btn-focus.follow.down {
    /*top:2.12rem;*/
}
.page17-2 .hot .item {
    padding: 0.2rem .36rem;
    background-color: #fff;
    position: relative;
}
.page27 .yzm .btn-yzm {
    right: -0.6rem;
    top : 0rem;
}
.footer {
    height: 1rem;
}
.register14 .btn-yzm {
    height: 0.77rem;
    margin-top: -.011rem;
    line-height: .77rem;
}
.page20-identification2 .tip {
    margin: .2rem .5rem .5rem;
    padding: .1rem;
    border: 1px solid #f55a14;
    background-color: #f2f2f2;
}
.page67 .tip {
    margin: .2rem .5rem .5rem;
    padding: .1rem;
    border: 1px solid #f55a14;
    background-color: #f2f2f2;
}
.page64 li.tips {
    width: 85%;
    margin: 0.2rem auto;
    padding: .1rem;
    border: 1px solid #f55a14;
    background-color: #f2f2f2;
}
.bg_eee {
    background-color: #eee;
}
.page64 .part2 img {
    width: 3.2rem;
    height: 4.8rem;
    display: block;
    float: none; 
    margin: 0 auto;
}
.page64 .part2 .agentCard img{
    width: 2.5rem;
    height: 1.5rem;
}
.page73 .contact-details li.li42 {
    width: 2.6rem;
    float: left;
}
.page64 .part2 .li1 .btn-down {
    /* margin-right: 1rem; */
    margin-right: 0;
}
.page20-identification2 .hpxCard img {
    width: 2.5rem;
    height: 1.5rem;
}
.page20-identification2 .busLicense img {
    width: 1.9rem;
    height: 2.5rem;
}
.input3 {
	background:url(images/input3.png) .2rem center no-repeat;
	background-size:.3rem .3rem;
	padding-left:.6rem!important;
}
.alert-bind-info .operate {
    padding-top: .1rem;
}



/*推广*/
.baner{
    width:100%;
    height:auto;
}
.baner img{
    width:100%;
    height:auto;
}
.container p{
        padding: 0px 0px 0px 24px;
    width: 91%;
    line-height: 30px;
    height:auto;
    font-size:16px;
}
.iml{
        margin-top: -22px;
}
.container span{
      color:#ff5a14;
}
.container a{
    text-decoration: underline;
    color: #8b6c43;
    padding: 0px 0 0 40%;
}
.container input{
          width: 200px;
    border-radius: 50px;
    color: #fff;
    background: #ff9000;
    border: 3px solid #333;
    /* margin-left: 30%; */
    height: 50px;
    font-size: 20px;
    margin: -4% 0 0 24%;
        margin-bottom:8%;
}

.Record {
    background: #f9f1ae;
    width: 91%;
    /*height: 300px;*/
    /* padding: 0 0 0 61%; */
    margin: 0 0 0 5%;
    margin-top: 13%;
    height:100%;
    padding-bottom:5px;
}
.Record img{
    /*margin-left: 71%;*/ 
    width: 22%;
    /*margin: -15% 0 0 75%;*/
    float: right;
    margin-top: -8%;
}
.hpxY img{
    width:50%;
    height:auto;
}
.hpxY{
    padding-top: 15px;
    padding-left: 20px;
}
.clear{
    clear:both;
}
 .Record p{
    padding: 15px 0 0 5%;
    color:#333;
    font-size:16px;
 }
 .Record-list{
        width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 4%;
 }
 .Record-list  ul li{
     width:100%;
     height:30px;
 }
.fontleft{
     float:left;
     font-size:14px;
 }
.fontright{
     float:right;
     font-size:14px;
 }
/*.cpop{
           width: 100%;
            height: 200%;
            background:url(../images/all-bg.png)center no-repeat;
            background-size:100% 100%;
            position: absolute;
            z-index: 1000;
}*/
.cpops{
           width: 100%;
            height: 155%;
            background:url(../images/all-bg.png)center no-repeat;
            background-size:100% 100%;
            position: fixed;
            display: none;
            z-index: 1000;
}
.explain{
          /*width: 82%;
    height: 355px;*/
    background: #fff;
    /*margin: 35% 0 0 9%;*/
    /*border: 1px solid #ebebeb;*/
    /*border-radius: 3px;*/
}
.explain img{
        position: absolute;
    top: 6%;
    margin-left: 69%;
    width: 13%;
}
.explain h2{
          padding: 8% 0 0 25%;
    font-size: 20px;
    font-weight: bold;
        font-family: cursive;
}
.explain em{
        background: #f60;
    padding: 0 0 0 5%;
    text-align: center;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    /* width: 100px; */
    /* height: 100px; */
    margin-left: 5%;
    width:100px;
    height:100px;
}
.idtext{
       width: 90%;
    height: auto;
    background: #fff;
    margin: 11px 0 0 14px;
}
.idtext ul li{
        width: 100%;
    height: auto;
}
.idtext1{
    width:10%;
    height:auto;
    float:left;
    margin-right:1%;
}
.idtext1 div{
    width: 20px;
    height: 20px;
    background: #ff5a14;
    border-radius: 50%;
    text-align: center;
    line-height:20px;
    color: #fff;
    margin: 2px 0 0 0px;
    font-size:14px;
}
.idtext2{
    width:89%;
    height:auto;
    float:left;
    line-height:25px;
    font-size:14px;
}
.idtext2 span{
    color:#ff5a14;
}
.idtext input{
          width: 37%;
    height: 30px;
    margin: 6% 0 0 25%;
    background: #ff5a14;
    border: none;
    color: #fff;
    /* padding: 0px 0 0 0; */
    border-radius: 5px;
}
.detailer{
    width:100%;
    height:500px;
    background:#ff5a14;
}
.detailer h2{
        padding: 6% 0 0 6%;
        color:#fff;
        margin-bottom:2%;
}
.detailer span{
    /*padding: 0 0 0 7%;*/
    /*color:#fff;*/
    /*font-size:14px;*/
}
.yqm{
    width: 88%;
    height: 44px;
    margin-top: 15px;
    /*margin: 6% 0 0 6%;*/
    font-size: 30px;
    text-align:center;
    margin-left: 6%;
    margin-bottom: 14px;
}
.yqm span{
    font-size: 30px;
    display:inline-block;
    color:#cbc227;
    background-color:#fff;
    width: 14%;
    height: 74%;
    padding: 10px 10px 28px 10px;
    border-radius:4px;
}
    /*.yqm ul li {
        width: 21px;
        height: 25px;
        background: #fff;
        border: 1px solid #ebebeb;
        float: left;
        margin-right: 3px;
        margin-left: 0%;
        text-align:center;
        color:#ff5a14;
        border-radius:3px;
    }*/
    .detailer p{
             width: 85%;
    padding: 0 0 0 6%;
    line-height: 25px;
    font-size: 18px;
    color: #fff;
    font-family: monospace;
    }
    .cder img{
     width: 100%;
    height: auto;
    margin-top: 8%;
    position: fixed;
    height: 100%;
    }
    .fooder{
    width: 100%;
    height: 80px;
    background: #fff;
    margin-bottom:2%;
    display:none;
    }
    .fooder ul li{
        width:10%;
        height:30px;
        float:left;
    }
    .fod{
         width: 99%;
    height: 60px;
    margin: 2% 0 0 0%;
    padding: 2% 0 0 0;
    }
    .fod ul li{
            width: 24%;
    height: 67px;
    float: left;
    margin-right: 1%;
    margin-top: -3%;
    text-align: center;
    }
    .fod ul li img{
          width: 75%;
    margin-left: 6%;
    }
    .fod ul li span{
            color: #333;
    /* margin-left: 16%; */
    font-size: 14px;
    }
    .detailer input{
       width: 100%;
    height: 50px;
    background: #ebebeb;
    border: none;
    margin-top: 10%;
    color: #333;
    font-size: 20px;

    }
    .containers img {
           width:100%;
    height:auto;
    }
    .containers input{
        margin: 4% 0 0 22%;
    width: 54%;
    height: 40px;
    background: #ff5a14;
    border: 1px solid #ebebeb;
    color: #fff;
    font-size: 20px;
    margin-bottom: 5%;
    }
    .lists{
        width: 100%;
    height:600px;
    margin-top: 2%;
}
  .lists1 {
      width:100%;
      height:200px;
      background:#ebebeb;
      margin-bottom:4%;
  }
   .lists2 {
      width:100%;
      height:200px;
      background:#ebebeb;
      margin-bottom:4%;
  }
    .lists3 {
      width:100%;
      height:200px;
      background:#ebebeb;
      margin-bottom:4%;
  }
    .left1{
        width:50%;
        float:left;
        height:200px;

    }
    .left1 img{
      width: 150px;
    height: auto;
    /* padding: 47px 0 0 0px; */
    margin: 40px 0 0 11%;
    }
    .right1{
        width:36%;
        height:200px;
        float:left;

    }
    .right1 div{
             width: 150px;
    height: auto;
    padding: 30px 0 0 0px;
    line-height: 30px;
    margin: 0 0 0 8px;
    font-size: 14px;
        
    }
    .containersk img{
        width:100%;
        height:100%;
        position:fixed;

    }
    .topner{
        width:100%;
        height:220px;
        background:url(../images/topner.png)center no-repeat;
        background-size:100% 100%;
    }

    .topner span{
        float: right;
    /* margin-top: 4%; */
    margin: 6% 4% 0% 0px;
    /* padding: 0 0 0 5px; */
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
    }
    .line{
         background: #ebebeb;
    height: 1px;
    margin: 8% 0 0 5%;
    width: 91%;
    text-align:center;
    }
    .line label{
            position: relative;
    top: -13px;
    font-size:16px;
    }
    
    .explains{
          width: 82%;
    height: 260px;
    background: #fff;
    margin: 35% 0 0 9%;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}
    .explains img{
        position: absolute;
    top: 6%;
    margin-left: 69%;
    width: 13%;
}
.explains h2{
          padding: 3% 0 0 30%;
    font-size: 20px;
    font-weight: bold;
        font-family: cursive;
}
.explains span{
            padding: 0 0 0 -1%;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
}

 .ts{
    margin: -1% 0 0 24% !important;
    width: 38% !important;
}
  .tsk{
    margin: -1% 0 0 24% !important;
    width: 38% !important;
}

 .tb{
      padding: 0 0 0 73%;
    margin: -38% 0 0 0;
    width: 20%;
 }
 .idtexts{
         width: 90%;
    height: 213px;
    background: #fff;
    margin: 11px 0 0 14px;
 }
 .idtexts p{
        font-size:14px;
        color:#333;
        line-height:25px;
        
    }
 form{
     width:auto;
     height:auto;
 }
 .register{
  width: 80%;
    height: auto;
    /* background: #333; */
    padding: 20px 0 0 0;
    margin: 0 0 0 9%;
   
 }
 .zc{
       width: 100%;
    height: 40px;
    /* background: #333; */
    margin: -20px 0 0 0;
    border: 1px solid #ebebeb;
    margin-bottom: 12%;
 }

 .zc1{
     width:20%;
     height:40px;
     float:left;
 }
 .zc1 img{
        position: relative;
    top: -6px;
 }
  .zc2{
     width:80%;
     height:40px;
     float:left;
 }
  .zc2 input{
      width: 92%;
    height: 32px;
    margin: 2px 0 0 0;
    border:none;
    font-size:16px;
  }
  .selected{
      border:1px solid #ff5a14;
    box-shadow: 4px 4px 0px -3px #ff5a14
      
  }
  .zc2 div{
          text-align: left;
    font-size: 16px;
    color: #f00;
    line-height: 39px;
  }
  .btk{
          width: 100%;
    height: 40px;
    border: 1px solid #ebebeb;
    background: #ff5a14;
    color:#fff;

  }

  .sub{
      width:100%;
      height:100%;
      color:#fff;
      background:#ff5a14;
      font-size:16px;
      border:1px solid #ebebeb;
  }
  .cbox{
        width: 15px;
    height: 15px;
    padding: 0 0 0 0;
    margin: 4% 0 0 0%;
        position: relative;
    top: 2px;
  }
  .zcs{
          width: 90%;
    height: 200px;
    background: #fff;
    margin: 42% 0 0 5%;
    border:1px solid #ebebeb;
  }
 .zcsk{
    width: 100%;
    height: 40px;
    /* background: #333; */
    margin: -20px 0 0 0;
    border: 1px solid #ebebeb;
    margin-bottom: 12%;
    display:none;

 }
.blur,.blur1,.blur2,.blur4,.blur5{
        margin: 0 0 0 107%;
    position: relative;
    top: -59%;
    display:none;
    font-size:25px;
}
.blur3{
            margin: 0 0 0 169%;
    position: relative;
    top: -59%;
    display:none;
    font-size:25px;
}
.topners{
        width: 100%;
    height: 220px;
    background: url(../images/success.png)center no-repeat;
    background-size: 100% 100%;
}
.topners span{
        float: right;
    /* margin-top: 4%; */
    margin: 6% 4% 0% 0px;
    /* padding: 0 0 0 5px; */
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
.gw{
       width: 100%;
    height: 30px;
    text-align: center;
    color: #333;
    line-height: 30px;
    margin-top: 4%;
}
.kmv ul li {text-align:center;float:left;padding-top:8%;font-size:14px;width:50%;
}
    .kmv ul li p a {line-height:24px
    }
.kmv {text-align:center;width:100%;
}  
.kmv ul{margin:0 auto;width:76%}
.zckf{
      margin: 10% 0 0 6%;
    width: 90%;
    border: 1px solid #ebebeb;
    height: 20%;
}
.sbm{
        width: 37%;
    margin-top: 20%;
    color: #fff;
    background: #ff5a14;
    font-size: 16px;
    border: 1px solid #ebebeb;
    height: 30px;
}
.closek{
         width: 37%;
    /* margin-top: 8%; */
    color: #fff;
    background: #ccc;
    font-size: 16px;
    border: 1px solid #ebebeb;
    height: 30px;
    margin: 0 0 0 21%;
}
.actives{
         width: 100%;
    height: 30px;
    /* margin: 18% 0 0 0; */
    /* display: none; */
    position: relative;
    top: 20px;
}
.zcb{
    font-size:12px;
}
.zcb a{
    color:#337cbd;
}
.containerk{
    width:100%;
    height:auto;
}
.containerk  p{
        font-size: 20px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    padding: 6% 0 0 0;
    

}
.containerk p img{
    width:100%;
    height:100%;

}
.jianjie{
    margin-bottom: 3%;
}
.jianjie div{
       width: 83%;
    height: auto;
    margin: 7% 0 0 9%;
    font-size: 16px;
    line-height: 30px;
}
.shm{
    width:100%;
    height:320px;
    background:url(../images/yuanjing.png)center no-repeat;
    background-size:100% 100%;
}

.divs{
      padding: 16% 0 0 9%;
    font-size: 20px;
    font-weight:bold;
}
.divs span{
    font-size:14px;
    font-family:self;
}
    .divsk{
    font-size: 20px;
    font-weight: bold;
    width: 63%;
    margin: 5% 0 0 8%;
    height: 40px;
}
    .divsk1{
        font-size: 20px;
    font-weight:bold;
    width:30%;
    float:left;
    text-align:center;
    }
    .divsk2{
      font-size: 20px;
    width:70%;
    float:left;
    font-size:14px;
    line-height: 35px;
    }
.divsk span{
    font-size:14px;
    font-family:self;
}
.lines{
        background: #333;
    height: 1px;
    margin: 61% 0 0 9%;
    width: 83%;
}
.lisy{
    height: 500px;
    margin: 7% 0 0 9%;
    width: 83%;
}
.lisy ul li{
       width: 100%;
    height: 142px;
    background: #ff5a14;
    margin-top: 7%;
    border-radius:8px;
}
.sy1{
    width:30%;
    height:142px;
    float:left;
    background:#ed6107;
}
.sy1 img{
            padding: 2% 0 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 48% 0 0 11%;
}
.sy2{
     width:70%;
    height:142px;
    float:left;
    background:#f2963c;
}
.sy2 p{
          text-align: left;
    line-height: 30px;
    padding: 11% 0 0 3%;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    font-family: -webkit-body;
    position: relative;
    top: 7%;
}
.sy3{
    width:30%;
    height:142px;
    float:left;
    background:#1a2b71;
    
}
.sy3 img{
    padding: 2% 0 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 48% 0 0 11%;

}
.sy4 p{
        text-align: left;
    line-height: 25px;
    padding: 11% 0 0 3%;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    font-family: -webkit-body;
        position: relative;
    top: 11px;
}
.sy4{
     width:70%;
    height:142px;
    float:left;
    background:#364998;


}
.linesk{
      background: #333;
    height: 1px;
    margin: 54% 0 0 9%;
    width: 83%;
}
.lc{
    width:83%;
        width: 83%;
    margin: 10% 0 0 9%;
}
.lc img{
    width:100%;
    height:auto;
}
.tg{
   width:83%;
        width: 83%;
    margin: 10% 0 0 9%;
    height:800px;
}
.tg ul li{
           width: 100%;
    height: auto;
    /* background: #333; */
    /* border: 1px solid #ebebeb; */
    margin-top: 14%;
    border-left: 5px solid #1f327e;
}
.tg1{
        width: 30%;
    height: 40px;
    background: #1f327e;
    text-align: center;
    color:#fff;
    line-height:40px;
    font-size:20px;
}
.tg2 p{
        line-height: 39px;
    text-align: left;
    padding: 4% 0 0 9%;
}
.lish{
    width: 100%;
    margin: 0% 0 0 -1%;
    height: 0px;
    border-bottom: dashed #ebebeb;
    /* position: absolute; */
    position: relative;
    top: 18px;
}
.containere,.hb{
    width:auto;
    height:auto;

}
.containere div{
   
        width: 83%;
    margin: 10% 0 0 9%;
}
.containere div img{
       width: 60%;
    height: auto;
    margin: 0 0 10% 18%;
}
.hb div{
     width: 89%;
    margin: -1% 0 0 6%;
}
.hb div img{
    width: 100%;
    height: auto;
    margin: 0 0 0 -1%;
}
.sd{
    width: 89%;
    margin: -1% 0 0 6%;
    height: auto;
    background: #1186aa;
}
.sd p{
        line-height: 30px;
    color: #fff;
    padding: 0 0 0 3%;
    width: 96%;
    font-size:16px;
}
.containerb{
    width:auto;
    height:auto;
}
.lber{
   width: 89%;
    margin:4% 0 0 6%;
    height:100px;
}
.lber1{
    width:50%;
    height:auto;
    float:left;
}
.lber1 img{
    width: 100%;
    padding: 3% 0 0 37%;
    margin-bottom: 8%;
}
.lber2 img{
    width: 99%;
   
}
.bound{
     width: 89%;
    margin:4% 0 0 6%;
    height:300px;
    border:1px solid #ebebeb;
}
.bad{   
      width:100%;
      height:100%;
      color:#fff;
        background: #ff5a14;
      font-size:16px;
      border:1px solid #ebebeb;
  
}
.qd{
    width:100%;
      height:100%;
      color:#fff;
       background: #ff5a14;
      font-size:16px;
      border:1px solid #ebebeb;
}
.zcskl{
    width: 100%;
    height: 40px;
    /* background: #333; */
    margin: -20px 0 0 0;
    border: none;
    margin-bottom: 12%;
    display: none;
}
#tsm{
   margin:0 0  0 13%;
}
#bd2{
    display:none;

}
.win{
          width: 60px;
    height: 60px;
    background: #ff5a14;
    margin: 0 0 0 38%;
    border-radius: 50%;
    color: #fff;
    font-size: 43px;
    text-align: center;
    line-height: 60px;
}
.pop{
      width: 38%;
    height: 18%;
    background: url(../images/all-bg.png)center no-repeat;
    background-size: 100% 100%;
    position: fixed;
     display: none; 
    z-index: 1000;
    margin: 57% 0 0 31%;
    line-height: 75px;
    font-size: 60px;
    color: #fff;
    text-align: center;
}
.pop span{
        font-size: 21px;
    position: relative;
    top: -44px;
}

.hpxB{
    background-color:#ccc;
}
/*弹窗*/
/*.popup-container .popup{
    width:100% !important;
    background-color:rgba(0, 0, 0, 0.5) !important;
}
.popup-head{
    padding:0 !important;
    border-bottom:none !important;
}
.popup-body{
    margin-bottom: 19%;
    padding:0 !important;
    overflow:hidden !important;
}
.popup-buttons .button{
    width:20px !important;
}
.button.button-assertive{
    width:20px !important;
}
.popup-buttons{
    max-width: 80px !important;
    margin-left: 38%;
    position: absolute;
    top: 77%;
}
.button.button-positive{
    background-color:#ff5a14 !important;
}*/

.myslides {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  height:100px;
  
  border-bottom:1px solid gray;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  max-width:100px;
  
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*上线*/
.header00{
    background-color: #f45a14;
    color:#fff;
    padding-bottom: 24px;
}
.header_panding1{
    border-bottom: 1px solid #fff;
    font-size: 22px;
    text-align: left;
    /*color: #fff;*/
    margin-left: 8%;
    margin-right: 9%;
    padding-bottom: 8px;
    padding-top: 12px;

}
.header1_panding2{
    font-size: 14px;
    text-align: left;
    margin-left: 8%;
    margin-bottom: 28px;
}
.header2_panding3{
    font-size: 14px;
    text-align: left;
    margin-left: 8%;
    margin-right: 4%;
}

.content4{
    background-color: #f45a14;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 869px;
    text-align:center;
    padding: 10% 0% 0% 0%;
   
}
.content_panding5{
    width: 233px;
    height: auto;
    /* background: #fff; */
    margin: -22px 0px 8% 13%;
    padding: 5% 0px 0px 3px;
    line-height: 32px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    text-align: left;
}
.content_panding5{
    width:100%;
    height:100%;
}
.content_panding_de6{
         margin: -15% 0 0 -7%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 101%;
    height: 100%
}
.content_panding_de6>img{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    height: 105%;
    margin: 5% 0 0 -7%;
}

/*安全 合作*/
.headh0 {
    width: 100%;
    height: 148px;
    background: url('../images/hs22.jpg')center no-repeat;
    background-size: 100% auto;
}
.head_pandingh1{
    width: 89%;
    height: 30px;
    padding: 6% 0 0 0%;
    margin: 0 0 0 6%;
    text-align: center;
    
}
.hpxhezuo{
    margin-top:20px;
}
.head_pandingh1 div{
    font-size: 22px;
    color: #fff;
    font-family: serif;
    width: auto;
    height: auto;
    text-align: left;
    line-height: 37px;
    margin: 4% 0 0 4%;
}
.contenth2 {
       width: 100%;
    height: 390px;
    background: #fff;

}
.content_pandingh3{
    width: 89%;
    height: 30px;
    padding: 6% 0 0 0%;
    margin: 0 0 0 6%;
    text-align: center;
    
}
.content_pandingh3 div{
      font-size: 16px;
    color: #333;
    font-family: serif;
    width: auto;
    height: auto;
    text-align: left;
    line-height: 37px;
    margin: 4% 0 0 4%;
}
.footerh4{
       width: 100%;
    height: 148px;
    background: #fff;
    margin-top: -2px;
}
.footer_pandingh5{
    width: 89%;
    height: 30px;
    padding: 5% 0 0 0%;
    margin: 0 0 0 6%;
    text-align: center;
    
}
.hpxgu{
    margin-top:16px;
}
.footer_pandingh5 div{
      font-size: 16px;
    color: #333;
    font-family: serif;
    width: auto;
    height: auto;
    text-align: left;
    line-height: 37px;
    margin: 4% 0 0 4%;
}
.footer_pandingh5 div span{
    background: #ff5a14;
    color: #fff;
    padding: 2% 2% 2% 2%;
}
.zjrh6{
    text-align:center!important;
    margin:-5% 0 18px 0 !important;
    font-size:18px !important;
}

/*baner1*/


.head1 {
    width: 100%;
    height: 148px;
    background: url(../images/hs11.png)center no-repeat;
    background-size: 100% auto;
}
.head1_panding{
    width: 89%;
    height: 30px;
    padding: 6% 0 0 0%;
    margin: 0 0 0 6%;
    text-align: center;
    
}
.head1_panding div{
    font-size: 22px;
    color: #fff;
    font-family: serif;
    width: auto;
    height: auto;
    text-align: left;
    line-height: 37px;
    margin: 4% 0 0 4%;
}
.content1 {
       width: 100%;
    height: 390px;
    background: #fff;

}
.content1_panding{
    width: 89%;
    height: 30px;
    padding: 6% 0 0 0%;
    margin: 0 0 0 6%;
    text-align: center;
    
}
.content1_panding div{
      font-size: 16px;
    color: #333;
    font-family: serif;
    width: auto;
    height: auto;
    text-align: left;
    line-height: 37px;
    margin: 4% 0 0 -2px;
}
.alert-online-service .box {
    /*width: 5rem;*/
    height: 1.5rem;
    /*margin-top: -1.5rem;
    margin-left: -2.5rem;*/
    font-size: .26rem;
    padding: 0 .25rem;
}
.register.register14 .con {
    padding: 0 .2rem;
}
.search_result li {
    /* width: 100%; */
    height: .8rem;
    line-height: .8rem;
    /* text-align: center; */
    border-bottom: 1px solid #ccc;
    margin: 0 .5rem;
    padding-left: .5rem;
}
.search_result li:hover {
    background-color: #ccc;
}

/*质押协议*/
/*.hpxModalZ .popup-buttons{
    width: 94% !important;
    background-color: #fff;
}*/

/*.hpxModalZ .popup-body{
    margin-top:4px !important;
}*/
/*.hpxModalZ .popup{
    width:95% !important;
}*/
/*.hpxModalZ .popup-buttons .button{
    margin-left:7% !important;
}*/
/*.hpxModalZ .popup-buttons .button{
    font-size:24px;
    border: 1px solid #ff6a00;
    height: 52px;
    color: #ff6a00;
    border-radius: 6px;
    font-weight: 100;
    -webkit-flex:-1;
    background-color: #fff;
}*/
/*.hpxModalZ .button{
    padding:0;
}*/
/*.hpxModalZ .popup-buttons .button:last-child{
    font-size:24px;
    border-radius: 6px;
    font-weight: 100;
}
.hpxModalZ .button.button-positive{
    background-color:#ff6a00;
    color:#fff;
    width:50%;
}*/
/*.hpxModalZ .popup-body{
    text-align:left !important;
}
.zhiTitle{
    text-align:center;
    font-size:28px;
}*/
/*.zhiXiang>p{
    margin-bottom:8px;
    border-bottom:1px solid #ccc;
    padding-bottom:4px;
}
.zhiXiang span{
    float:right;
}
.form-inline{
    margin-bottom:8px;
    padding-bottom:4px;
    border-bottom:1px solid #ccc;
}
.form-inline span{
    float:right;
}
.form-group span{
    float:right;
}
.form-group>div{
    margin-bottom:8px;
    padding-bottom:4px;
    border-bottom:1px solid #ccc;
}*/

/*.hpxModalZ .popup-container .popup{
    border-radius:8px;
}*/
.hpxsorry{
    width: 80%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 15px;
    color: #ccc;
    border: 1px #ccc solid;
    border-radius: 5px;
    margin: .5rem auto;
}
.hpxWu{
    width: 80%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 15px;
    color: #ccc;
    border: 1px #ccc solid;
    border-radius: 5px;
    margin: .5rem auto;
}
.hpxQuan .popup-buttons .button{
    margin-left:5%;
    width:40%;
} 
.hpxQuan .popup-body{
    text-align:left;
}
.hpxQuan .popup-head{
    padding:0;
    border-bottom:none;
}
.hpxQuan .button.button-royal{
    background-color:#fff;
    color:#f55a14;
    border:1px solid #f55a14;
}
.hpxQuan section{
    font-size:16px;
}
.hpxaa .btn-cancle{
    background-color:#fff;
    border:1px solid #f55a14;
    color:#f55a14;
}
.hpxQing .button-positive{
    background-color:#fff;
    color:#f55a14;
    border:1px solid #f55a14;
}
.hpxTi .popup-body{
    text-align:left;
}
.bill_en span{
    display:inline-block;
    width:70%;
}
/*ios样式调整*/
.default-title{
    display:none !important;
}
.bar{
    padding:0;
}
.bar-header{
    background-color:#f55a14;
}
.hpxResult .item{
    word-break:break-all;
}
/*.calc input{
    font-size:0.18rem;
}*/


/*.page41 input{
    padding:0 !important;
}*/
.tabBox4 .hd .hd_s li{
    width:50%;
}


/*加载中的样式*/
.item-myicon{
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color:#fff;
}
.item-myicon ion-spinner {
    float: left;
    margin: 0;
    /*margin-right: .5em;*/
    margin-top: -0.2em;
}       
.spinner svg {
    width: 30px;
    fill: #fff;
}
.h_hr{
    border:1px solid #f55a14;
    margin-bottom:10px;
}
.imgLoad{
    background: #ccc;
    position: absolute; 
    border: 1px solid #ccc;
    opacity: 0.5;
    margin: 0.2rem;
    text-align:center;
}
.imgLoadBill{ 
    background: #ccc;
    position: absolute; 
    border: 1px solid #ccc;
    opacity: 0.5;
    margin: 0.2rem;
    text-align:center;
}
.imgCre{
    width: 1.9rem;
    height: 2.5rem;
    left: 0.2rem;
}
.imgPreF{
    width:2.5rem;
    height:1.5rem;
}
.imgPreB{
    width:2.5rem;
    height:1.5rem;
}
.imgAgenF{
    width:2.5rem;
    height:1.5rem;
    top:0;
    left:0.2rem;
}
.imgAgenB{
    width:2.5rem;
    height:1.5rem;
    top:0;
    left:0.2rem;
}
.imgLoadBills{ 
    background: #ccc;
    position: absolute; 
    border: 1px solid #ccc;
    opacity: 0.5;
    text-align:center;
}
.imgBillF{
    width:144px;
    height:100px;
    top:0;
    left:0;
}
