<!--<ion-view>-->
    <ion-slide-box auto-play="true">
        <!--<ion-slide class="item-image">
            <img src="img/screen-hpx750.png">
        </ion-slide>-->
        <ion-slide class="item-image">
            <img src="img/hpxF2.png">
        </ion-slide>
        <ion-slide class="item-image">
            <img src="img/hpxF3.png">
        </ion-slide>
        <ion-slide class="item-image" ui-sref="app.home">
            <img src="img/hpxF4.png">
        </ion-slide>
    </ion-slide-box>
<!--</ion-view>-->